RewriteEngine on
Options All -Indexes
Options +FollowSymLinks

RewriteCond %{HTTP_REFERER} !^http://www.chryswoods.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chryswoods.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chryswoods.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chryswoods.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chryswoods.siremol.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chryswoods.siremol.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://protoms.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://protoms.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://protoms.siremol.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://protoms.siremol.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://siremol.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://siremol.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chryswoods.siremol.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chryswoods.siremol.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.protoms.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.protoms.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.protoms.siremol.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.protoms.siremol.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.siremol.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.siremol.org$      [NC]

RewriteRule .*\.(jpg|jpeg|gif|bmp|png|js|md|py)$ - [F,NC]

# Do not do anything for already existing files and folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .+ - [L]

# add .html file extension (if such file does exist)
RewriteCond %{DOCUMENT_ROOT}/$1\.html -f
RewriteRule ^(.+[^/])/?$ $1.html [L,QSA]

Redirect /courses http://chryswoods.com/main/courses.html
