
.main_header {
  background-image: url("../images/banner.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-style: none;
  border-width: 0px;
}

.main_body {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 3%;
  margin-right: 3%;
}

.nice_img {
  width: 75%;
}

.main_tail {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-right: 3%;
}
 
.mm-menu {
  background: #922 !important;
  font-weight: bold;
  font-size: 16pt;
}

.mm-navbar {
  border: none;
  text-color: black;
}

.mm-search {
  padding: 30px 25px 0 25px;
}

.mm-search input {
  background: none !important;
  border: 1px solid rgba( 255, 255, 255, 0.8 );
  height: 35px;
}

.mm-listview li > a {
  color: rgba( 255, 255, 255, 0.8 );
}

.mm-listview > li > a {
  font-size: 12pt;
  font-weight: lighter;
  background: rgba( 255, 255, 255, 0.1 );
  padding: 15px 10px 15px 40px;
}

.mm-listview > li > a:hover {
  font-size: 14pt;
  font-weight: normal;
  background: rgba( 255, 255, 255, 0.2 );
  color: #FFF;
}

.mm-listview .mm-inset {
  padding-left: 50px;
}

.mm-listview .mm-inset a:hover {
  text-decoration: underline;
}
