
.main_header {
  background-image: url("../images/banner.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-style: none;
  border-width: 0px;
}

.main_body {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 3%;
  margin-right: 3%;
}

.nice_img {
  width: 75%;
}

.main_tail {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-right: 3%;
}
 
